/*aplicando estilos al footer como background,padding */
.local2 {
    max-width: 90px;
    max-height: 70px;
}
.footer {
    text-align: center;
    height: 250px;
    background:linear-gradient(#ffffff,rgb(50, 91, 255));
    justify-content: space-between;
    align-items: center;
    padding: 200px;
    font-family: sans-serif;
    font-size: larger;
    font-style: oblique;
    border: 1px solid black;
}


.http {
    text-align: center;
    height: 200px;    
    align-items: center;
    padding: 10px;
    font-family: sans-serif;
    font-size: larger;
    font-style: oblique;
    
}

.copy{
  text-align: center;
  position: relative;
  left: 345px;
}